body {
    font-family: Arial, sans-serif;
    background-color: #f8da22;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #e9090a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    margin-top: 10px;
}

input, select {
    margin: 5px 0 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #17100a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}